{% extends "base.html" %}

{% block content %}
    <h1>Create a New Product</h1>
    <p>Add a new product to the database. Once created, you and other users can submit tips for it.</p>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.barcode.label }}<br>
            {{ form.barcode(size=32) }}<br>
            {% for error in form.barcode.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
